body {
	background-color:#5EC7FF;
	}
table.majorLayout {
	background-color:FFFFFF;
	vertical-align:center;
	margin-left:auto;
	margin-right:auto
	}
	
p.mainTitle {
	font-family:'arial';
	text-align:center;
	font-size:200px
	}
	
table.tableContent {
	font-family:'arial';
	font-size:20px;
	text-align:center;

	width:85%;
	border-color:#5EC7FF;
	border-style:dashed;
	padding:5;
	margin-left:auto;
	margin-right:auto
	}
	
p.tableHeaderRow {
	font-family:'arial';
	text-align:center;
	font-size:100px;

	}
	
a.linkStyle {
	font-family:'arial';
	font-size:50px;

}	


