	<div class="cal-actions">
		<a class="btn" target="_blank" href="<% google_calendar_uri %>">Add to my Google Calendar</a> 
		<br/>
		<a class="btn" href="<% cal_webcal_uri %>">CalDAV</a>
		<a class="btn" href="<% cal_http_uri %>"">HTTP</a>
	</div>

	<div class="inner first">
	<% table %>
	</div>

<hr>

<pre>
<% ics %>
</pre>
